{# Controller: Home #}
{# Route     : add_rdv #}

{% extends 'base.html.twig' %}

{% block title %}KineLib{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}
    {% include 'assets/navbar.html.twig' %}

    <div class="main_wrapper">
        <h1>Vérification des infos du rendez-vous</h1>
        <form method="post">
            <p><strong>Kiné : </strong>{{ rdvToAdd.kine.email }}</p>
            <input type="hidden" name="kine" value="{{ rdvToAdd.kine.id }}">
            <p><strong>Date : </strong>{{ rdvToAdd.date|date('d/m/Y') }}</p>
            <input type="hidden" name="date" value="{{ rdvToAdd.date|date('d/m/Y') }}">
            <p><strong>Heure : </strong>{{ rdvToAdd.heureDebut }}</p>
            <input type="hidden" name="heure" value="{{ rdvToAdd.heureDebut }}">

            <button class="btn btn-success" name="isSent">Valider</button>
            <a class="btn btn-danger" href="{{ path(('home')) }}">Annuler</a>
        </form>
    </div>
{% endblock %}