{% extends 'base.html.twig' %}

{% block title %}KineLib{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/edtNavbar.js') }}"></script>
{% endblock %}

{% block body %}
    {% include 'assets/navbar.html.twig' %}

    <div class="main_wrapper">
        <div class="accordion" id="accordionKines">
        {% for kine in kines %}
            {% if kine.email != app.user.email %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ kine.id }}">
                        <button class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse{{ kine.id }}"
                                aria-expanded="false"
                                aria-controls="collapse{{ kine.id }}">
                            <span class="accordion-header-text">Dr. {{ kine.nom|upper }} {{ kine.prenom|capitalize }}</span>
                            <span class="text-muted next-dispo">
                                Prochaine disponibilité : {% if dispos[kine.id] is defined %}{{ dispos[kine.id].date }} à {{ dispos[kine.id].heure }}{% else %}Aucune{% endif %}
                            </span>
                        </button>
                    </h2>
                    <div id="collapse{{ kine.id }}"
                         class="accordion-collapse collapse"
                         aria-labelledby="heading{{ kine.id }}"
                         data-bs-parent="#accordionKines">
                        <div class="accordion-body">
                            {% if edtKines and edtKines[kine.id] %}
                                <div class="calendar-container">
                                    <div class="edt-navbar">
                                        <div class="me-auto btn-prev edt-btn prevWeek" data-kine="{{ kine.id }}">
                                            <
                                        </div>
                                        <p>Disponibilités</p>
                                        <div class="ms-auto btn-next edt-btn nextWeek" data-kine="{{ kine.id }}">
                                            >
                                        </div>
                                    </div>
                                    <table class="table-horizontal jours" data-kine="{{ kine.id }}" data-date="{{ currStartDate }}">
                                        <tbody>
                                        {% for date, content in edtKines[kine.id] %}
                                            <tr>
                                                <th scope="row">{{ content.jour }}<br>{{ date }}</th>
                                                <td class="heures">
                                                    {% if content.heures is defined %}
                                                        {% for heure in content.heures %}
{#                                                            <a class="btn btn-primary prendre-rdv-btn" href="{{ path('add_rdv', {'kine': kine.id, 'heure':heure, 'date':date}) }}">{{ heure }}</a>#}
                                                            <form action="{{ path('add_rdv') }}" method="post">
                                                                <input type="hidden" name="kine" value="{{ kine.id }}">
                                                                <input type="hidden" name="heure" value="{{ heure }}">
                                                                <input type="hidden" name="date" value="{{ date }}">
                                                                <button type="submit" class="btn btn-primary prendre-rdv-btn">{{ heure }}</button>
                                                            </form>
                                                        {% endfor %}
                                                    {% else %}
                                                        <p class="text-muted text-center">____</p>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="loading-spinner" data-kine="{{ kine.id }}">
                                        <div class="spinner-border text-info" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                Ce kiné ne prend pas de rendez-vous
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}
