<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">KineLib</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {% if app.request.pathinfo == '/' %}active{% endif %}" aria-current="page" href="{{ path('home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mes rendez-vous</a>
                </li>
                {% if is_granted('ROLE_KINE') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('kine_edt') }}">Mon emploi du temps</a>
                </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link {% if app.request.pathinfo == '/admin/edt-kines' %}active{% endif %}" href="{{ path('admin_edt_kines') }}">Les EDT kinés</a>
                </li>
                {% endif %}
            </ul>
            <span class="text-light user-id">{{ app.user.email }}</span>
            <a href="{{ path('logout') }}" class="btn btn-primary">Déconnexion</a>
        </div>
    </div>
</nav>